<div class="modal-header">
  <button id="user-modal-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="user-header">Registration</h3>
</div>
<%= form_for @user, url: users_create_modal_path(@user), :html => {:class => 'form-horizontal'}, method: 'post', remote: true do |f| %>
    <%= render :partial => 'modal', :locals => { :f => f } %>
    <div class="modal-footer">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    cars_path, :class => 'btn' %>
    </div>
<% end %>
