<h1>Listing soccer_entries</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @soccer_entries.each do |soccer_entry| %>
      <tr>
        <td><%= link_to 'Show', soccer_entry %></td>
        <td><%= link_to 'Edit', edit_soccer_entry_path(soccer_entry) %></td>
        <td><%= link_to 'Destroy', soccer_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soccer entry', new_soccer_entry_path %>
